.navbar {
  background-color: #555c47;
  overflow: hidden;
}

.navbar a, h1 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 27.61px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.5s;
}

.navbar a {
  padding: 41px;
}

.navbar a:hover {
  color: black;
  cursor: pointer;
}

.navbar a.active {
  color: black;
}